
.toggle-cam-system-container{
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 45dvw;
    height: 5.5dvh;
    display: flex;
    z-index: 6;
}

.toggle-cam-system-button {
    border: 0.15rem solid rgba(0, 0, 0);
    background-color: rgba(255, 255, 255);
    /* border-radius: 0.3rem; */
    width: 100%;
    height: 100%;
}

.cam-system-container {
    width: 100dvw;
    height: 100dvh;
    /* transform: translate(-50%,-50%); */
    color: white;
    transform-style: preserve-3d;
    perspective: 800px; 
    
    position: fixed;
    z-index: 4;
    pointer-events: none  ;

  }
  
  .screen-container {
    display: none;
    width: 100%;
    height: 100%;
    font-family: 'pixel';
    border: 0.1rem solid rgb(24, 24, 24);
    position: absolute;
    transform-origin: bottom center;
    transform: rotateX(0deg); 
  }

  .screen-container::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: rgb(0, 0, 0);
  }

  .screen-container::after {
    content: "";
    position: absolute;
    inset: 1px;
    /* background-image: url("../assets/imgs/static.gif"); */
    background-size: 120%;
    opacity: 15%;
    border-radius: 5px;
    z-index: 20;
    pointer-events: none  ;
  }



  @keyframes open-cam {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      
    }
  }

  @keyframes power-up {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
  }

  .open-cam-system{
    animation: open-cam 0.35s;
    *{
        animation: power-up 0.8s forwards;
    }
  }

  @keyframes close-cam {
    100% {
      transform: rotateX(100deg);
    }
    0% {
      transform: rotateX(0deg);
    }
  }

  @keyframes shut-down {
    0%{
        opacity: 20%;
    }
    100%{
        opacity: 0%;
    }
  }

  .close-cam-system{
    animation: close-cam 0.35s;
    *{
        animation: shut-down 0.5s forwards;
    }
  }


@media (max-width:1024px){
    .toggle-cam-system-container{
      position: fixed;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%,0%);
      width: 45dvw;
      height: 8dvh;
      display: flex;
      z-index: 6;
    }
}