  @font-face {
    font-family: 'pixel';
    src: url('../assets/font/FiveFontsatFreddy\'s-Regular.ttf');
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    touch-action: none;
}


button{
    outline: none;
}

html,body{
    overflow: hidden;
  background-color: black;
   -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;  
}


.page-container {
  opacity: 0%;
  transition: opacity 1s ease-in;
}

@keyframes loading-progress {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page-load{
  content:"";
  display: block;
  z-index: 998;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 0.45rem solid #f3f3f3;
  border-top: 0.45rem solid #000000; 
  border-radius: 50%; 
  width: 3rem;
  height: 3rem;
  animation: loading-progress 1s linear infinite;
  transition: opacity 1s ease-in;
}

.page-load.loaded{
  opacity: 0;
}

.page-container.loaded {
  opacity: 1;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

  @media (max-width:1024px) {

    .page-load{
       width: 2rem;
       height: 2rem;
    }

  }

@media (min-width: 2160px) {

}

