  @font-face {
    font-family: 'pixel';
    src: url('../assets/font/FiveFontsatFreddy\'s-Regular.ttf');
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    touch-action: none;
}


button{
    cursor: pointer;
    outline: none;
}

html,body{
    overflow: hidden;
  background-color: black;
   -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;  
}
 
img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.camera-interactive-item{
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    border: 0.2rem solid white;
    background-color: gray;
    font-weight: bolder;
    color: white;

}