

.content-container{
    /* border: 1px solid rgb(255, 255, 255); */
    z-index: 5;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    inset: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}  

.content-container::after{
  content: "";
  border: 0.1rem solid white;
  inset: 4px;
  position: absolute;
  z-index: 8;
  pointer-events: none;
}

.actions-container{
  position: absolute;
  z-index: 8;
  bottom: 20%;
  right: 48%;
}

#place-power-switch{
  padding: 1rem;
}

.used-power-switch{
  background-color: rgb(78, 78, 78);
  border: 0.2rem solid gray;
  color: gray;
}

.room-place-container{
    width: 50%;
    height: 50%;
}

.horizontal-hall-container{
    border: 1px solid white;
    width: 15%;
    height: 15%;
}

.map-container{
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-70%,-80%) scale(0.80);
    display: grid;
    grid-template-columns: repeat(21, 1fr); /* Ajuste o número de colunas conforme a complexidade */
    grid-template-rows: repeat(20, 1fr); /* Ajuste o número de linhas */
    width: 50%;
    height: 80%;
    /* border: 1px solid white; */
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px; */
    z-index: 7;
  }

  .map-container>div {
    /* background-color: #000000; */
  border-color: rgb(255,255,255,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
  box-sizing: border-box; 
  }

.choiced-place-content-container{
  width: 100%;
  height: 100%;
  inset: 10px;
  z-index: 6;
}
  

.choiced-place-content-container canvas{
  width: 100%;
  height: 100%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(25, 1fr); /* Ajuste o número de colunas conforme a complexidade */
  grid-template-rows: repeat(20, 1fr); /* Ajuste o número de linhas */
  gap: 2px;
  width: 100%;
  height: 100%;
  background-color: #000;
  border: 2px solid #555;
}

.map-item {
  /* background-color: #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
  box-sizing: border-box; 
}


/* .dining-hall { grid-area: 4 / 6 / 2 / 12;  } */
/* .backstage { grid-area: 1 / 7 / 2 / 11;border-bottom: none !important;} */
/* .puppet-area { grid-area: 1 / 13 / 4 / 19; }  */


.client-hall { grid-area: 9 / 11 / 5 / 19;}
.employee-hall  { grid-area: 14 / 15 / 10 / 19;}
/* .game-area { grid-area: 9 / 20 / 3 / 24;} */
/* .deposit { grid-area: 14 / 20 / 11 / 23;} */

.kitchen { grid-area: 13 / 6 / 10 / 12; }
.dining-to-bathroom-hall {grid-area: 8 / 10 / 6 / 11;}


.supply-closet { grid-area: 11 / 13 / 11 / 14; }
.employee-bathroom { grid-area: 9 / 6 / 5 / 10;}
.employee-entrance { grid-area: 7 / 14 / 8 / 15;}
.employee-to-employee-bathroom-hall { grid-area:10 / 13 / 9 / 12; } 

.office { grid-area: 21 / 9 / 18 / 12; }
.client-entrance { grid-area: 4 / 16 / 5 / 18;border-bottom: none !important;border-top: none !important;}




.dining-to-kitchen-hall { grid-area: 10 / 7 / 9 / 8;}
/* .dining-to-client-hall { grid-area: 2 / 12 / 3 / 13; } */

.employee-to-supply-closet-hall { grid-area: 12 / 14 / 11 / 15; } 
.employee-to-client-hall { grid-area: 10 / 16 / 9 / 18;}

.employee-to-employee-area-hall  { grid-area: 18 / 15 / 16 / 14; }
.employee-area-to-kitchen-hall { grid-area: 14 / 8 / 13 / 9; }

.front-office-hall { grid-area: 18 / 11 / 17 / 10; } /* Entre backstage e main stage */
.front-room-to-office { grid-area: 17 / 9 / 13 / 12; }

.client-to-game-area-hall  { grid-area: 15 / 9 / 16 / 8;}
.employee-to-deposit-hall { grid-area: 15 / 13 / 16 / 12;} 

.right-office-hall { grid-area: 19 / 12 / 19 / 13;}
.right-room-to-office { grid-area: 21 / 13 / 14 / 19;}

.left-office-hall { grid-area: 19 / 9 / 19 / 8;}
.left-room-to-office { grid-area: 21 / 6 / 14 / 8;}
.bathroom { grid-area: 13 / 7 / 13 / 7;background-color: blue;}

.horizontal-hall{
  z-index: 1;
  border-top: 0.15rem solid;border-bottom: 0.15rem solid;
}

.vertical-hall{
  z-index: 1;
  border-left: 0.15rem solid;border-right: 0.15rem solid;
}

.place{
  z-index: 2;
  border: 0.15rem solid;
}
.sub-place{
  z-index: 3;
  border: 0.15rem solid;
}

.camera-interactive-item{
  /* visibility: hidden; */
}

#place-0{
  bottom: 50%;
  right: 50%;
}

#place-1{
  bottom: 35%;
  right: 30%;
}

#place-2{
  bottom: 35%;
  right: 30%;
}

#place-3{
  bottom: 50%;
  right: 50%;
}

#place-4{
  bottom: 50%;
  right: -40%;
}

#place-5{
  bottom: -45%;
  right: 50%;
}

#place-6{
  bottom: -50%;
  right: 40%;
}

#place-7{
  bottom: -45%;
  right: -40%;
}

#place-8{
  bottom: -50%;
  right: 40%;
}

#place-9{
  bottom: -50%;
  right: -40%;
}

#place-10{
  bottom: 45%;
  right: 50%;
  visibility: hidden;
}

  @media (max-width:1024px) {

    .map-container{
      scale: 0.80;
      width: 50%;
      height: 95%;
      top: 65%;
      left: 72%;
      /* border: 1px solid red; */
    }

    .map-container div {
       font-size: 0.6rem;   
      }

      #place-power-switch{
        padding: 0.6rem;
      }

  }