/* .map-container{
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    width: 80%;
    z-index: 10;
}

.map-container .cam-container{
  border: 1px solid white;

}

.map-container .room-place-container{
  border: 1px solid white;
  color: white;
  font-size: 1.2em;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
} */

.content-container{
    /* border: 1px solid rgb(255, 255, 255); */
    z-index: 5;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    inset: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}  


.room-place-container{
    border: 1px solid white;
    width: 50%;
    height: 50%;
}

.horizontal-hall-container{
    border: 1px solid white;
    width: 15%;
    height: 15%;
}

.map-container{
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-70%,-80%);
    color: white;
    grid-template-columns: repeat(9,1fr);
    width: 40%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
  }

  .map-container div {
    background-color: black;
    transition: transform 0.3s;
    color: white;
    cursor: pointer;
  }


  .item1 { --hue: 0; grid-column: span 1;    border: 0.1em solid white; }
  .item2 { --hue: 40; grid-row: span 3;    border: 0.1em solid white; }
  .item3 { --hue: 80; }
  .item4 { --hue: 120; grid-column: span 4; grid-row: span 2;     border: 0.1em solid white;}
  .item5 { --hue: 160; grid-row: span 2;    border: 0.1em solid white;}
  .item6 { --hue: 200; grid-column: span 3;    border: 0.1em solid white; }
  .item7 { --hue: 240; grid-row: span 3;     border: 0.1em solid white;}
  .item8 { --hue: 280; grid-column: span 2;    border: 0.1em solid white; }
  .item9 { --hue: 320; grid-column: span 1;     border: 0.1em solid white;}
  .item10 { --hue: 20;grid-column: span 1; }
  .item11 { --hue: 20;grid-column: span 3;}
  .item12 { --hue: 20;grid-column: span 1;    border: 0.1em solid white;}
  .item13 { --hue: 20;grid-column: span 3;}
  .item14 { --hue: 20;grid-column: span 1;}
  .item15 { --hue: 20;grid-column: span 1; border: 0.1em solid white;}


  @media (max-width:1024px) {
    .map-container div {
       font-size: 0.6rem;   
      }
  }