
.game-preference-choice-container{
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.preference-option{
    padding: 0.5rem;
}

.preference-option.choosen{
    border: 1px solid red;
}

.menu-canvas-container>canvas{
    width: 100%;
}


