
.room-container{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    /* background-image: url('../bedroom_1.jpeg'); */
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
    height: 100dvh;
    width: 110dvw;
    /* transform: translateX(-25%); */
    background-color: rgb(224, 0, 0);
}


.battery-container{
    position: fixed;
    z-index: 6;
    top: 5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 110px;
}

.battery-container>*{
    border: 0.1rem solid rgb(0, 0, 0);
    background-color: white;
}

.battery-container .right-stopper-container{
    height: 45%;
    width: 10%;
    border-left: none;
}

.battery-container .percent-container{
    border-radius: 0.2rem;
    display: flex;
    /* justify-content: space-around; */
    padding: 0.1rem;
    gap: 0.1rem;
    height: 80%;
    
    /* width: 80%; */
}

.battery-container .percent-container div{
    /* border: 1px solid red; */
    height: 100%;
    background-color: rgb(0, 0, 0);
     border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem 0.6rem 1rem 0.6rem;
}

.timer-container{
    font-family: pixel;
    color: white;
  text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  font-weight: bolder;
    position: fixed;
    z-index: 6;
    top: 6%;
    right: 3%;
    /* height: 60px;    */
    /* width: 110px; */
}

.timer-container .display-container{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    font-weight: bolder;
    align-items: center;
}

.timer-container .display-container>*{
    /* height: 100%; */
}

.timer-container .time-span{
    font-size: 1.7rem;
}

.timer-container .type-of-time-span{
    font-size: 1.5rem;
}

@keyframes replace-room-fade-in {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes replace-room-fade-out {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.room-darkness-container{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 6;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.room-darkness-container img{
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.dark-screen-container.flash-light-fadein{
    animation: replace-room-fade-in 0.5s ease-in-out;
    opacity: 0%;
}

.dark-screen-container.flash-light-fadeout{
    animation: replace-room-fade-out 0.5s ease-in-out;
    opacity: 100%;
}

.dark-screen-container{
    display: none;
    z-index: 6;
    position: fixed;
    background-color: black;
    top: 50%;
    right: 50%;
    height: 100%;
    width: 100%;
    transform: translate(50%,-50%);
}

.move-right-container{
    z-index: 5;
    position: fixed;
    right: 0%;
    height: 100%;
    top: 0%;
    width: 30dvw;
}

.move-left-container{
    z-index: 5;
    position: fixed;
    left: 0%;
    height: 100%;
    top: 0%;
    width: 30dvw;
}

#teste1{
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 20;
}

@keyframes room-entrace-vision {
    
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }

}

.room-canvas-container.room-entrace-center-vision{
     animation:room-entrace-vision 0.2s ease-in-out ;
     transform-origin: calc(50% + 170px) center; 
}

.room-canvas-container.room-entrace-left-vision{
    animation:room-entrace-vision 0.2s ease-in-out ;
    transform-origin: 2px 30% 10px; 
}

.room-canvas-container.room-entrace-right-vision{
    animation:room-entrace-vision 0.2s ease-in-out ;
    transform-origin: right center; 
}

@keyframes room-exit-vision {
    
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }

}

.room-canvas-container.room-exit-center-vision{
     animation:room-exit-vision 0.2s ease-in-out ;
     transform-origin: calc(50% + 170px) center; 
}

.room-canvas-container.room-exit-left-vision{
    animation:room-exit-vision 0.2s ease-in-out ;
    transform-origin: 2px 30% 10px; 
}

.room-canvas-container.room-exit-right-vision{
    animation:room-exit-vision 0.2s ease-in-out ;
    transform-origin: right center; 
}



  #room-canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    transform-origin: none; 
    /* object-fit: cover; */
    
}

  @media (max-width:1024px) {
    
    .battery-container{
        height: 30px;
        width: 55px;
    }

    .battery-container>*{
        border: 0.15rem solid white;
    }

    .battery-container .percent-container div{
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    }

    .timer-container .time-span{
        font-size: 1.2rem;
    }

    .timer-container .type-of-time-span{
        font-size: 1rem;
    }

  }


  @media (min-aspect-ratio: 21/9) {

}
