.room-container{
    z-index: 0;
    display: flex;
    justify-content: space-between;
    background-image: url('../teste5.jpeg');
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
    height: 100dvh;
    width: 110dvw;
    /* transform: translateX(-25%); */
    background-color: black;
}

.move-right-container{
    z-index: 5;
    position: fixed;
    right: 0%;
    height: 100%;
    top: 0%;
    width: 30dvw;
    
}

.move-left-container{
    z-index: 5;
    position: fixed;
    left: 0%;
    height: 100%;
    top: 0%;
    width: 30dvw;

}

#teste1{
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 20;
}

  #room-canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}
