
.toggle-task-system-container{
    position: fixed;
    bottom: 5%;
    left: 35%;
    transform: translate(-50%,0%);
    width: 45dvw;
    height: 5.5dvh;
    display: none;
    z-index: 6;
}

.toggle-task-system-container svg{
  height: 100%;
  width: 100%;
}

.toggle-task-system-button {
    border: 0.15rem solid rgb(255, 255, 255);
     background: rgba(97, 97, 97, 0.2);
    /* border-radius: 0.3rem; */
    width: 80%;
    height: 100%;
}


.task-system-container {
    width: 100dvw;
    height: 100dvh;
    color: rgb(0, 245, 94);
    /* transform-style: preserve-3d; */
    /* perspective: 800px;  */
    position: fixed;
    z-index: 4;
    pointer-events: none;
  }
  
 
  .task-system-container .screen-container {
    display: none;
    width: 100%;
    height: 100%;
    font-family: 'pixel';
   background-color: black;
    position: absolute;
    transform-origin: bottom center;
    transform: rotateX(0deg); 
  }

 
  .task-system-container .screen-container::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: rgb(0, 0, 0);
  }

  
  .task-system-container .screen-container::after {
    content: "";
    position: absolute;
    inset: 1px;
    /* background-image: url("../assets/imgs/static.gif"); */
    background-size: 120%;
    opacity: 15%;
    border-radius: 5px;
    z-index: 20;
    pointer-events: none  ;
  }

 .task-system-container .content-container{
    /* border: 1px solid rgb(255, 255, 255); */
    z-index: 5;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    inset: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}  

 .task-system-container .content-container::after{
  content: "";
  border: 0.1rem solid rgb(0, 245, 94);
  inset: 4px;
  position: absolute;
  z-index: 8;
  pointer-events: none;
}

  .task-system-container .content-container .task-list-container{
    /* border: 1px solid white; */
    border: 0.1rem solid rgb(0, 245, 94);
    width: 90%;
    height: 60%;
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    overflow-y: auto;
  }

.task-system-container .content-container .temperature-container{
 display: none;
}

.task-list-container::-webkit-scrollbar{
  width: 10px;
}


::-webkit-scrollbar-track {
  background-color: none;
}

.task-list-container ::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


.task-system-container .content-container .task-list-container>div{
    border: 1px solid rgb(0, 245, 94);
    display: flex;
    align-items: center;
    padding: 0.5rem 3rem 0.5rem 3rem;
    gap: 1rem;
    /* flex: 1; */
    width: 100%;
    height: 20%;
}

.task-system-container .content-container .task-list-container>div>.name-container{
    width: 80%;
}

.task-system-container .content-container .task-list-container>div button{
    padding: 0.5rem;
    background-color: black;
    border: none;
}

.task-system-container .content-container .task-list-container>div button>svg{
    color: rgb(0, 245, 94);
    width: 1.3rem;
    height: 1.3rem;
}

.task-system-container .content-container .task-list-container .progress-container{
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-system-container .content-container .progress-loading-container{
  border: 0.4rem solid rgb(0, 245, 94);
  border-top: 0.4rem solid #000000; 
  border-radius: 50%; 
  width: 2rem;
  height: 2rem;
  animation: loading-progress 2s linear infinite;
  display: none;
}

  .task-system-container .content-container .process-wait-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    height: 60%;
  }

.task-system-container .content-container .process-wait-container .info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0rem 0.5rem 0rem;
}

.task-system-container .content-container .process-wait-container .info-container p{
}

@keyframes loading-progress {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width:1024px){
    .toggle-task-system-container{
      bottom: 5%;
      left: 35%;
      width: 45dvw;
      height: 8dvh;
      display: none;
    }

    .task-system-container .content-container .task-list-container>div{
    border: 1px solid rgb(0, 245, 94);
    padding: 0.5rem 3rem 0.5rem 3rem;
    height: 30%;
  }

  .task-system-container .content-container .progress-loading-container{
    border: 0.3rem solid rgb(0, 245, 94);
  border-top: 0.3rem solid #000000; 
    width: 1.5rem;
    height: 1.5rem;
  }

}